<mat-form-field>
	<input matInput [formControl]="nameFormControl" placeholder="Name" type="text">
</mat-form-field>

<mat-form-field style="width: 3em;">
	<input matInput [formControl]="costFormControl" placeholder="Cost" type="number">
</mat-form-field>

<mat-form-field style="width: 2em;">
	<input matInput [formControl]="partFormControl" placeholder="Parts" type="number">
</mat-form-field>

<mat-form-field style="width: 3em;">
		<input matInput [formControl]="debtFormControl" placeholder="Debt" type="number">
	</mat-form-field>

<button mat-icon-button
		(click)="delete()">
	<mat-icon>delete</mat-icon>
</button>